   {% load static %}

<div class="container-fluid bg-dark mb-30" style="height: 65px;">
<div class=" d-flex flex-column flex-md-row align-items-center justify-content-center">
  
        <h1 class="hide-on-small col-lg-4 col-md-6 col-sm-12 pb-1 font h1 text-uppercase text-primary bg-dark px-2 mb-2 mb-md-0">طراحی صفحات وب</h1>
        <h2 style="height: 60px;" class="col-lg-6 col-md-6 col-sm-12 pb-1 font h1 text-uppercase text-dark bg-primary px-2 ml-n1 mb-2 mb-md-0"> شبکه پردازان فناور شهر راز</h2>
 
</div>
</div>
  
   <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">ورود و ثبت نام</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item " href=" {% url "account:user_login" %} " type="button">پروفایل</a>
                            <a class="dropdown-item" href=" {% url "account:user_logout" %} " type="button">خروج</a>
                            {% else %}
                            <a class="dropdown-item" href=" {% url "account:user_login" %} " type="button">ورود به حساب کاربری  </a>
                            <a class="dropdown-item" href=" {% url "account:user_register" %} " type="button"> ثبت نام</a>                             {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">

            <div class="col-lg-4 col-6 text-left">
                <form action="{% url "home:search_product" %}" method="get">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="جستجوی محصولات">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8 col-6 text-right">
                <p class="m-0  ">سرویس مشتریان</p>
                <h5 class="m-0 font">09177381998</h5>
            </div>
        </div>
    </div>
