{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">

<head>
   {% include "includes/head_links.html" %}
</head>

<body>
    <!-- Topbar Start -->
     {% include "includes/topbar.html" %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
     {% render_partial 'Product:navbar' %}
    <!-- Navbar End -->

{% block main %}
{% endblock main %}

    <!-- Footer Start -->
     {% include "includes/footer.html" %}
    <!-- Footer End -->


{% include "includes/footer_links.html" %}
</body>

</html>